node_modules
.cursor/rules/Date.mdc
.cursor/rules/global.mdc
.cursor/rules/task.mdc
.cursor/script/getDate.js
backend/bin
backend/obj
backend/logs
.next
frontend/.env.development
frontend/.env.production
frontend/out/
publish/
frontend/.env.production.local
